*{
    border: none;
}


body {
    color: white;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    justify-content: center;
    background-color: #cebf3e;
}
.container{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: white;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    width: 300px;
    background-color: #ce8307;
    padding: 30px;
}

button{
    color: white;
    font-size: 15px;
    padding: 8px;
    width: 100px;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    transform: scale(110%);
    background-color: lawngreen;

}

.form-container{
    margin-top: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: white;
    flex-direction: column;
    display: flex;
    background-color: #ce8307;
    width: 250px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

label{
    font-size: 14px;
    margin-bottom: 8px;
}

input{
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 20px;
}

.acessar{
    flex-direction: initial;
    padding: 5px;
}

.tabela-container{
    background-color: #ce8307 ;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    margin-bottom: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

td, tr{
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

tr {
    cursor: pointer;
    color: #333;
    border-radius: 5px;
}

tr:hover {
    color: #f5f5f5;
}

th{
    color: white;
    text-align: left;
}

table {
    width: 100%;

}

th, td{
    padding: 7px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

body::-webkit-scrollbar{
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #ce8307;
}

body::-webkit-scrollbar-thumb {
    background-color: #15755a;
    border-radius: 20px;
}
